.work-log-input {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;

  &__input {
    margin-left: 16px;
    flex-grow: 1;

    & > {
      font-size: 1.2rem;
    }
  }

  .react-autosuggest {
    &__container {
      width: 100%;
      position: relative;
    }

    &__suggestions-container {
      &--open {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
      }
    }

    &__suggestion {
      display: block;
    }

    &__suggestions-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}
