.monthly-report {
  padding: 8px;

  .report-table {
    width: 100%;

    &__cell {
      padding: 4px;

      &--weekend {
        color: #c7254e;
      }

      &--holiday {
        color: #2a98c7;
      }

      &--bold {
        font-weight: bold;
      }

      &--selected {
        color: white;
        background-color: #2d6ca2;
      }
    }

    &__row:last-of-type {
      td {
        border-bottom: none;
      }
    }

    .header-cell {
      font-size: 0.8rem;

      .day-name {
        font-weight: bold;
      }
    }
  }
}
