.monthly-report {
  margin: 8px;

  .report-table {
    width: 100%;

    &__cell {
      padding: 12px 4px;
      user-select: none;

      &--weekend {
        color: #c7254e;
      }

      &--holiday {
        color: #2a98c7;
      }

      &--bold {
        font-weight: bold;
      }

      &--selected {
        color: white;
        background-color: #2d6ca2;
      }

      div {
        display: flex;
        vertical-align: center;

        .missing-workload-icon {
          color: #C21F39;
        }
      }
    }

    &__row:last-of-type {
      td {
        border-bottom: none;
      }
    }

    th.report-table__cell {
      font-size: 0.8rem;

      .day-name {
        font-weight: bold;
      }
    }
  }
}
