.edit-work-log {
  div:last-child > div {
    overflow-y: visible;
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow-y: visible;

    .text-field {
      margin: 8px 0;
      width: 20em;
    }
  }
}