.admin-page {
  width: 80%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin: 1em 0;
  }

  &__placeholder {
    padding: 16px 8px;
  }
}
