.registration-page-mobile {
  width: 90%;
  margin: 1em auto 4em auto;

  .presets-selector {
    &__placeholder {
      text-align: center;
      margin-top: 2em;
    }

    &__title {
      position: inherit;
    }

    div.chip {
      height: auto;
      padding: 0.7rem 0;
      font-size: 1rem;
      border-radius: 1.2rem;
      margin: 0.7rem;
    }
  }

  button.add-button {
    position: fixed;
    bottom: 5em;
    right: 1em;
  }
}

