.header-desktop {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  &__text {
    flex-grow: 1;
    text-align: left;
    cursor: default;

    & > span {
      font-weight: 500;
    }
  }

  .app-bar-tabs {
    margin-right: 2em{};
  }

  &__logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 16px;
  }

  &__icon {
    margin-right: 16px;
    cursor: pointer;
  }
}
