.header {
  display: flex;

  &__hamburger-container {
    display: flex;
    align-items: center;
  }

  &__text {
    flex-grow: 1;

    & > span {
      font-weight: 500;
    }
  }

  &__icon {
    margin-right: 16px;
    cursor: pointer;
  }
}
