header.header-mobile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header-mobile {
  h5.header-text {
    margin: 0 1em;
    text-align: center;
    & > span {
      font-weight: 500;
    }
  }

  &__icon {
    margin: 1em;
    cursor: pointer;
  }
}
