.header-desktop {
  display: flex;

  &__hamburger-container {
    display: flex;
    align-items: center;
  }

  &__text {
    flex-grow: 1;
    text-align: left;

    & > span {
      font-weight: 500;
    }
  }

  &__logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 16px;
  }

  &__icon {
    margin-right: 16px;
    cursor: pointer;
  }
}
