.day-selector {
  display: flex;
  flex-direction: column;
  align-content: center;

  &__name {
    text-align: center;
    font-size: 1.4rem;
  }

  .selector {
    display: flex;
    align-items: center;

    &__date {
      text-align: center;
      flex-grow: 1;
      font-size: 2.4rem;
    }
  }
}
