.reporting-page {
  width: 80%;
  margin: 1em auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4em;
    margin-bottom: 0.7em;

    &__text {
      font-size: 1.2rem;

      & > span {
        font-size: 2rem;
      }
    }
  }

  &__filters {
    margin: 2em 0;
  }

  .report {
    width: 100%;

    &__tabs {
      box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    }
  }
}
