.presets-selector {
  &__list {
    margin-top: 1em;
  }

  &__placeholder {
    text-align: center;
    margin-top: 2em;
  }

  div.chip {
    flex-grow: 1;
    height: auto;
    padding: 0.7rem 0;
    font-size: 1rem;
    border-radius: 1.2rem;
  }

  button.add-button {
    position: absolute;
    bottom: 1em;
    right: 1em;
  }
}
